/*---------------------------------------------------------------------------*/
/* Recursos externos */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tinos:400,700&display=swap');
/*---------------------------------------------------------------------------*/
/* Custom declarations */


span.bold {
  font-weight: bold;
}

ion-label{
  padding-left: 20px;
}

img {
  border-radius: unset;
  max-width: 100%;
  border: 0;
}
