<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title start size="small">
      <strong> Pilares da Fé Reformada</strong>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list *ngFor="let modal of modals" > 
    <ion-item  (click)="modal?.disabled ? null : openModal(modal.page)  ">
      <ion-avatar>
        <img [src]="modal.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{modal.nome}}</h2>
        <p>{{modal.author}}</p>
        <p *ngIf="modal?.disabled"><i><ion-icon name="alert"></ion-icon></i>Em desenvolvimento</p>
      </ion-label>
     
    </ion-item>
  </ion-list>
</ion-content>

