<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title start size="medium">
      <strong> {{title | titlecase}} </strong>
    </ion-title>
  </ion-toolbar>
</ion-header> 



<!-- <ion-searchbar id='name'  
          placeholder="Pesquisar"
          color = "medium"
          type="search"
          animated="true"
          showCancelButton="true"
          spellcheck="true"
          debounce="800"
          inputmode="search" 
          mode="ios"
          cancelButtonText="Cancelar"
          (ionInput)="getItems(items$,$event)">
      </ion-searchbar> -->

<ion-content>
  <ion-list *ngFor="let livro of items; ">   
    <ion-item-group>
      <ion-item-divider full *ngIf="livro.showMsgVelhoTestamento"  color="light"><strong>{{'Velho Testamento' | uppercase}}</strong></ion-item-divider>
      <ion-item-divider full *ngIf="livro.showMsgNovoTestamento" color="light"><strong>{{'Novo Testamento' | uppercase}}</strong></ion-item-divider>
      <ion-item (click)="goToListCapitulo(livro.index)"> 
        <ion-label>
          {{livro.nome}}
        </ion-label>
      </ion-item>
    </ion-item-group>
    
  </ion-list>
</ion-content>
