<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong> Home </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-img src="https://charismamag-secure-charismamedia.netdna-ssl.com/images/stories/2016/featured-news/book-of-psalms.jpg"></ion-img> -->
 <ion-content>
  <ion-card>
    <ion-card-content>
        <p>1. Creio em Deus Pai Todo-poderoso, o Criador dos Céus e da terra.</p>
        <p>2. E em Jesus Cristo, seu Filho Unigênito, o nosso Senhor;</p>
        <p>3. que foi concebido pelo Espírito Santo, nasceu da virgem Maria;</p>
        <p>4. padeceu sob o poder de Pôncio Pilatos, foi crucificado, morto e sepultado;</p>
        <p>5. desceu ao inferno, e ao terceiro dia ressurgiu dos mortos;</p>
        <p>6. subiu ao céu e está assentado a direita de Deus Pai Todo-poderoso;</p>
        <p>7. de onde há de vir a julgar os vivos e os mortos.</p>
        <p>8. Creio no Espírito Santo;</p>
        <p>9. na santa Igreja católica, na comunhão dos santos;</p>
        <p>10. na remissão dos pecados;</p>
        <p>11. na ressurreição do corpo</p>
        <p>12. e na vida eterna. Amém.</p>

    </ion-card-content>
  </ion-card>
</ion-content> 
