<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong> Home </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-img src="https://charismamag-secure-charismamedia.netdna-ssl.com/images/stories/2016/featured-news/book-of-psalms.jpg"></ion-img> -->
 <ion-content>
  <ion-card>
    <img style="height: 250px;" src="./assets/img/credo_card.jpeg" />
    <ion-card-content>
      <ion-card-title>
        Credo Apostólico
      </ion-card-title>
      <p>
        Creio em Deus-Pai, todo poderoso, criador do céu e da terra e em Jesus Cristo seu único filho, Nosso Senhor que foi concebido
        pelo poder do Espírito Santo nasceu da Virgem Maria Padeceu sob Poncio Pilatos Foi crucificado, morto e sepultado
        desceu a mansão dos mortos ressuscitou ao terceiro dia, subiu aos céus está sentado à direita de Deus Pai, todo poderoso,
        de onde há de vir a julgar os vivos e os mortos Creio no Espírito Santo, na Santa Igreja Católica na comunhão dos
        Santos Na remissão dos pecados na ressurreição da carne na vida eterna Amem.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content> 
